HAI_API_KEY=
HAI_AGENTS_BASE_URL=https://agp.eu.hcompany.ai/api/v2
HAI_AGENT=h/web-surfer-flash

GRADIUM_API_KEY=
GRADIUM_API_URL=
GRADIUM_VOICE_0=
GRADIUM_VOICE_1=
GRADIUM_VOICE_2=
GRADIUM_VOICE_3=

NVIDIA_API_KEY=
NVIDIA_NEOCLAW_URL=
